<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <a href="./todo"><li>12월 23일: todo</li></a href="./todo">
      <a href="./form"><li>12월 24일: form</li></a href="./form">
      <a href="./mime">12월 25일: MIME</li></a>
      <a href="./login"><li>12월 26~27일: login/response code</li></a>
    </ul>
  </body>
</html>
