<html>
    <body>
        <%= name %>
        login<br/>
        <form method="post">
            ID: <input name="id"/><br/>
            PW: <input name="pw" type="password"/><br/>
            <input type="submit" value="로그인"/>
        </form>
        Cookie left time: <div id="time"></div>
    </body>
    <script>
        const tick = (x) => {
            setTimeout((x) => {
                const time = document.getElementById("time");
                console.log(x);
                time.innerHTML = x;
                if(x > 0) {
                    tick(x-1);
                }
            }, 1000, x)
        };
        tick(30);
    </script>
</html>
